Food and Nutritional Facts

In [1]:
#import all the libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import os

In [2]:
#Read all the libraries and assign them to a variable for easy access
food_1 = 'C:/Users/valde/Desktop/Tripleten/Food_Nutrition_Dataset/Food_Nutrition/Datasets/FOOD-DATA-GROUP1.csv'
food_2 = 'C:/Users/valde/Desktop/Tripleten/Food_Nutrition_Dataset/Food_Nutrition/Datasets/FOOD-DATA-GROUP2.csv'
food_3 = 'C:/Users/valde/Desktop/Tripleten/Food_Nutrition_Dataset/Food_Nutrition/Datasets/FOOD-DATA-GROUP3.csv'
food_4 = 'C:/Users/valde/Desktop/Tripleten/Food_Nutrition_Dataset/Food_Nutrition/Datasets/FOOD-DATA-GROUP4.csv'
food_5 = 'C:/Users/valde/Desktop/Tripleten/Food_Nutrition_Dataset/Food_Nutrition/Datasets/FOOD-DATA-GROUP5.csv'

In [3]:
#Read libraries
food_1 = pd.read_csv(food_1)
food_2 = pd.read_csv(food_2)
food_3 = pd.read_csv(food_3)
food_4 = pd.read_csv(food_4)
food_5 = pd.read_csv(food_5)

The following code will clean the "food_1" dataset

In [4]:
#Print the information of the dataset
food_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551 entries, 0 to 550
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0.1          551 non-null    int64
 1   Unnamed: 0            551 non-null    int64
 2   food                  551 non-null    object
 3   Caloric Value         551 non-null    int64
 4   Fat                   551 non-null    float64
 5   Saturated Fats        551 non-null    float64
 6   Monounsaturated Fats  551 non-null    float64
 7   Polyunsaturated Fats  551 non-null    float64
 8   Carbohydrates         551 non-null    float64
 9   Sugars                551 non-null    float64
 10  Protein               551 non-null    float64
 11  Dietary Fiber         551 non-null    float64
 12  Cholesterol           551 non-null    float64
 13  Sodium                551 non-null    float64
 14  Water                 551 non-null    float64
 15  Vitamin A             551 non-null    float64
 16  Vitamin B1            551 non-null    float64
 17  Vitamin B11           551 non-null    float64
 18  Vitamin B12           551 non-null    float64
 19  Vitamin B2            551 non-null    float64
 20  Vitamin B3            551 non-null    float64
 21  Vitamin B5            551 non-null    float64
 22  Vitamin B6            551 non-null    float64
 23  Vitamin C             551 non-null    float64
 24  Vitamin D             551 non-null    float64
 25  Vitamin E             551 non-null    float64
 26  Vitamin K             551 non-null    float64
 27  Calcium               551 non-null    float64
 28  Copper                551 non-null    float64
 29  Iron                  551 non-null    float64
 30  Magnesium             551 non-null    float64
 31  Manganese             551 non-null    float64
 32  Phosphorus            551 non-null    float64
 33  Potassium             551 non-null    float64
 34  Selenium              551 non-null    float64
 35  Zinc                  551 non-null    float64
 36  Nutrition Density     551 non-null    float64
dtypes: float64(33), int64(3), object(1)
memory usage: 159.4+ KB

In [5]:
#Print 1st and 2nd columns head as they don't have actual names to check for information and confirm data types
display(food_1[['Unnamed: 0.1', 'Unnamed: 0']].sample(5))

     Unnamed: 0.1  Unnamed: 0
369           369         369
65             65          65
537           537         537
357           357         357
475           475         475

First and second column are the item number, both are the same. Second column will be removed and first one will be renamed to Item number.

In [6]:
#Remove first column
food_1 = food_1.drop(columns=['Unnamed: 0'])

In [7]:
#Change name of first column to item number
food_1.rename(columns={'Unnamed: 0.1':'Item number'}, inplace=True)

In [8]:
#Check for missing values
food_1.isnull().sum()

Item number             0
food                    0
Caloric Value           0
Fat                     0
Saturated Fats          0
Monounsaturated Fats    0
Polyunsaturated Fats    0
Carbohydrates           0
Sugars                  0
Protein                 0
Dietary Fiber           0
Cholesterol             0
Sodium                  0
Water                   0
Vitamin A               0
Vitamin B1              0
Vitamin B11             0
Vitamin B12             0
Vitamin B2              0
Vitamin B3              0
Vitamin B5              0
Vitamin B6              0
Vitamin C               0
Vitamin D               0
Vitamin E               0
Vitamin K               0
Calcium                 0
Copper                  0
Iron                    0
Magnesium               0
Manganese               0
Phosphorus              0
Potassium               0
Selenium                0
Zinc                    0
Nutrition Density       0
dtype: int64

None are missing, move on to next

In [10]:
#Check the food column to see if any food items are duplicated
duplicates = food_1['food'].duplicated()

# Check if there are any duplicates
if duplicates.any():
    print("There are duplicates in the 'food' column.")
else:
    print("No duplicates found in the 'food' column.")

No duplicates found in the 'food' column.

In [ ]:
#find number of duplicated values and remove them if any are found
print(food_1.duplicated().sum())

0

None are duplicated, move on to next

In [ ]:
#check for values to be correct and properly display
display(food_1.sample(5))

,Item number,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,Protein,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
17,17,gjetost cheese,1058,67.0,43.5,17.9,2.1,96.8,0.0,21.9,...,908.0,0.200,1.2,158.9,0.035,1007.9,3198.4,0.039,2.600,1095.700
127,127,turkey pot pie,699,34.9,11.4,13.7,5.5,70.3,0.0,25.8,...,0.0,0.000,4.0,0.0,0.000,0.0,0.0,0.000,0.000,139.400
79,79,chicken egg roll,158,3.6,0.8,1.1,1.5,22.8,4.5,8.4,...,37.6,0.056,1.4,24.0,0.300,94.4,224.8,0.032,0.400,84.750
365,365,shark cooked,65,3.9,0.9,1.7,1.0,1.8,0.0,5.3,...,14.2,0.031,0.3,12.2,0.057,54.9,43.9,0.064,0.100,25.548
143,143,baked beans,310,10.3,3.9,4.3,1.5,43.3,0.0,11.1,...,0.0,122.000,0.3,4.0,86.000,0.5,218.0,716.000,0.052,76.200

The following code will clean the "food_2" dataset

In [ ]:
#Print the information of the dataset
food_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0.1          319 non-null    int64
 1   Unnamed: 0            319 non-null    int64
 2   food                  319 non-null    object
 3   Caloric Value         319 non-null    int64
 4   Fat                   319 non-null    float64
 5   Saturated Fats        319 non-null    float64
 6   Monounsaturated Fats  319 non-null    float64
 7   Polyunsaturated Fats  319 non-null    float64
 8   Carbohydrates         319 non-null    float64
 9   Sugars                319 non-null    float64
 10  Protein               319 non-null    float64
 11  Dietary Fiber         319 non-null    float64
 12  Cholesterol           319 non-null    float64
 13  Sodium                319 non-null    float64
 14  Water                 319 non-null    float64
 15  Vitamin A             319 non-null    float64
 16  Vitamin B1            319 non-null    float64
 17  Vitamin B11           319 non-null    float64
 18  Vitamin B12           319 non-null    float64
 19  Vitamin B2            319 non-null    float64
 20  Vitamin B3            319 non-null    float64
 21  Vitamin B5            319 non-null    float64
 22  Vitamin B6            319 non-null    float64
 23  Vitamin C             319 non-null    float64
 24  Vitamin D             319 non-null    float64
 25  Vitamin E             319 non-null    float64
 26  Vitamin K             319 non-null    float64
 27  Calcium               319 non-null    float64
 28  Copper                319 non-null    float64
 29  Iron                  319 non-null    float64
 30  Magnesium             319 non-null    float64
 31  Manganese             319 non-null    float64
 32  Phosphorus            319 non-null    float64
 33  Potassium             319 non-null    float64
 34  Selenium              319 non-null    float64
 35  Zinc                  319 non-null    float64
 36  Nutrition Density     319 non-null    float64
dtypes: float64(33), int64(3), object(1)
memory usage: 92.3+ KB

In [ ]:
#Print 1st and 2nd columns head as they don't have actual names to check for information and confirm data types
display(food_2[['Unnamed: 0.1', 'Unnamed: 0']].sample(5))

     Unnamed: 0.1  Unnamed: 0
170           170         170
130           130         130
193           193         193
124           124         124
53             53          53

First and second column are the item number, both are the same. Second column will be removed and first one will be renamed to Item number.

In [ ]:
#Remove first column
food_2 = food_2.drop(columns=['Unnamed: 0'])

In [ ]:
#Change name of first column to item number
food_2.rename(columns={'Unnamed: 0.1':'Item number'}, inplace=True)

In [ ]:
#Check for missing values
food_2.isnull().sum()

Item number             0
food                    0
Caloric Value           0
Fat                     0
Saturated Fats          0
Monounsaturated Fats    0
Polyunsaturated Fats    0
Carbohydrates           0
Sugars                  0
Protein                 0
Dietary Fiber           0
Cholesterol             0
Sodium                  0
Water                   0
Vitamin A               0
Vitamin B1              0
Vitamin B11             0
Vitamin B12             0
Vitamin B2              0
Vitamin B3              0
Vitamin B5              0
Vitamin B6              0
Vitamin C               0
Vitamin D               0
Vitamin E               0
Vitamin K               0
Calcium                 0
Copper                  0
Iron                    0
Magnesium               0
Manganese               0
Phosphorus              0
Potassium               0
Selenium                0
Zinc                    0
Nutrition Density       0
dtype: int64

None are missing, move on to next

In [11]:
#Check the food column to see if any food items are duplicated
duplicates = food_2['food'].duplicated()

# Check if there are any duplicates
if duplicates.any():
    print("There are duplicates in the 'food' column.")
else:
    print("No duplicates found in the 'food' column.")

No duplicates found in the 'food' column.

In [ ]:
#find number of duplicated values and remove them if any are found
print(food_2.duplicated().sum())

0

None are duplicate, move on to next

In [ ]:
#check for values to be correct and properly display
display(food_1.sample(5))

,Item number,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,Protein,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
391,391,tilapia cooked,111,2.3,0.8,0.8,0.5,0.0,0.0,22.8,...,12.2,0.049,0.6,29.6,0.083,177.5,330.6,0.034,0.4,37.900
158,158,fruit burrito,231,9.5,4.6,3.4,1.1,35.0,0.0,2.5,...,15.5,0.051,1.1,7.4,0.100,14.8,104.3,0.024,0.4,64.300
463,463,butterfish cooked,47,2.6,0.0,0.0,0.0,0.0,0.0,5.5,...,7.0,0.028,0.2,8.0,0.095,77.0,120.3,0.020,0.2,15.350
454,454,coho salmon raw,254,12.2,2.9,5.3,3.0,0.0,0.0,33.8,...,19.1,0.022,0.5,49.3,0.023,464.3,715.5,0.028,0.7,67.308
365,365,shark cooked,65,3.9,0.9,1.7,1.0,1.8,0.0,5.3,...,14.2,0.031,0.3,12.2,0.057,54.9,43.9,0.064,0.1,25.548

The following code will clean the "food_3" dataset

In [ ]:
#Print the information of the dataset
food_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0.1          571 non-null    int64
 1   Unnamed: 0            571 non-null    int64
 2   food                  571 non-null    object
 3   Caloric Value         571 non-null    int64
 4   Fat                   571 non-null    float64
 5   Saturated Fats        571 non-null    float64
 6   Monounsaturated Fats  571 non-null    float64
 7   Polyunsaturated Fats  571 non-null    float64
 8   Carbohydrates         571 non-null    float64
 9   Sugars                571 non-null    float64
 10  Protein               571 non-null    float64
 11  Dietary Fiber         571 non-null    float64
 12  Cholesterol           571 non-null    float64
 13  Sodium                571 non-null    float64
 14  Water                 571 non-null    float64
 15  Vitamin A             571 non-null    float64
 16  Vitamin B1            571 non-null    float64
 17  Vitamin B11           571 non-null    float64
 18  Vitamin B12           571 non-null    float64
 19  Vitamin B2            571 non-null    float64
 20  Vitamin B3            571 non-null    float64
 21  Vitamin B5            571 non-null    float64
 22  Vitamin B6            571 non-null    float64
 23  Vitamin C             571 non-null    float64
 24  Vitamin D             571 non-null    float64
 25  Vitamin E             571 non-null    float64
 26  Vitamin K             571 non-null    float64
 27  Calcium               571 non-null    float64
 28  Copper                571 non-null    float64
 29  Iron                  571 non-null    float64
 30  Magnesium             571 non-null    float64
 31  Manganese             571 non-null    float64
 32  Phosphorus            571 non-null    float64
 33  Potassium             571 non-null    float64
 34  Selenium              571 non-null    float64
 35  Zinc                  571 non-null    float64
 36  Nutrition Density     571 non-null    float64
dtypes: float64(33), int64(3), object(1)
memory usage: 165.2+ KB

In [ ]:
#Print 1st and 2nd columns head as they don't have actual names to check for information and confirm data types
display(food_3[['Unnamed: 0.1', 'Unnamed: 0']].sample(5))

     Unnamed: 0.1  Unnamed: 0
233           233         233
58             58          58
57             57          57
54             54          54
340           340         340

First and second columns are the item number, both are the same. Second column will be removed and first one will be renamed to Item Number.

In [ ]:
#Remove first column
food_3 = food_3.drop(columns=['Unnamed: 0'])

In [ ]:
#Change name of first column to item number
food_3.rename(columns={'Unnamed: 0.1':'Item number'}, inplace=True)

In [ ]:
#Check for missing values
food_3.isnull().sum()

Item number             0
food                    0
Caloric Value           0
Fat                     0
Saturated Fats          0
Monounsaturated Fats    0
Polyunsaturated Fats    0
Carbohydrates           0
Sugars                  0
Protein                 0
Dietary Fiber           0
Cholesterol             0
Sodium                  0
Water                   0
Vitamin A               0
Vitamin B1              0
Vitamin B11             0
Vitamin B12             0
Vitamin B2              0
Vitamin B3              0
Vitamin B5              0
Vitamin B6              0
Vitamin C               0
Vitamin D               0
Vitamin E               0
Vitamin K               0
Calcium                 0
Copper                  0
Iron                    0
Magnesium               0
Manganese               0
Phosphorus              0
Potassium               0
Selenium                0
Zinc                    0
Nutrition Density       0
dtype: int64

None are missing, move on next

In [12]:
#Check the food column to see if any food items are duplicated
duplicates = food_3['food'].duplicated()

# Check if there are any duplicates
if duplicates.any():
    print("There are duplicates in the 'food' column.")
else:
    print("No duplicates found in the 'food' column.")

No duplicates found in the 'food' column.

In [ ]:
#Find number of duplicated values and remove them if any are found
print(food_3.duplicated().sum())

0

None are duplicate, move on to next

In [ ]:
#Check for values to be correct and properly display
display(food_3.sample(5))

,Item number,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,Protein,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
107,107,apple dried,145,0.2,0.088,0.022,0.041,39.100,34.0,0.6,...,7.7,0.100,0.8,10.2,0.051,23.0,267.8,0.076,0.100,56.100
203,203,dock,29,0.9,0.000,0.000,0.000,4.300,0.0,2.7,...,0.0,58.500,0.2,3.2,137.000,0.5,83.8,518.700,0.067,12.200
372,372,pork olive loaf,66,4.6,1.600,2.200,0.500,2.600,0.0,3.3,...,30.5,0.023,0.2,5.3,0.015,35.6,83.2,0.087,0.400,41.265
473,473,pork stomach cooked,44,2.1,0.800,0.600,0.200,0.029,0.0,6.1,...,4.2,0.048,0.3,4.2,0.015,36.5,24.1,0.077,0.800,12.779
284,284,lamb meat cooked,678,45.0,18.600,19.100,3.200,0.000,0.0,63.8,...,40.0,0.300,4.8,60.0,0.070,482.5,795.0,0.026,11.900,153.600

The following code will clean the "food_4" dataset

In [ ]:
#Print the information of the dataset
food_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0.1          232 non-null    int64
 1   Unnamed: 0            232 non-null    int64
 2   food                  232 non-null    object
 3   Caloric Value         232 non-null    int64
 4   Fat                   232 non-null    float64
 5   Saturated Fats        232 non-null    float64
 6   Monounsaturated Fats  232 non-null    float64
 7   Polyunsaturated Fats  232 non-null    float64
 8   Carbohydrates         232 non-null    float64
 9   Sugars                232 non-null    float64
 10  Protein               232 non-null    float64
 11  Dietary Fiber         232 non-null    float64
 12  Cholesterol           232 non-null    float64
 13  Sodium                232 non-null    float64
 14  Water                 232 non-null    float64
 15  Vitamin A             232 non-null    float64
 16  Vitamin B1            232 non-null    float64
 17  Vitamin B11           232 non-null    float64
 18  Vitamin B12           232 non-null    float64
 19  Vitamin B2            232 non-null    float64
 20  Vitamin B3            232 non-null    float64
 21  Vitamin B5            232 non-null    float64
 22  Vitamin B6            232 non-null    float64
 23  Vitamin C             232 non-null    float64
 24  Vitamin D             232 non-null    float64
 25  Vitamin E             232 non-null    float64
 26  Vitamin K             232 non-null    float64
 27  Calcium               232 non-null    float64
 28  Copper                232 non-null    float64
 29  Iron                  232 non-null    float64
 30  Magnesium             232 non-null    float64
 31  Manganese             232 non-null    float64
 32  Phosphorus            232 non-null    float64
 33  Potassium             232 non-null    float64
 34  Selenium              232 non-null    float64
 35  Zinc                  232 non-null    float64
 36  Nutrition Density     232 non-null    float64
dtypes: float64(33), int64(3), object(1)
memory usage: 67.2+ KB

In [ ]:
#Print 1st and 2nd columns head as they don't have actual names to check for information and confirm data types
display(food_4[['Unnamed: 0.1', 'Unnamed: 0']].sample(5))

     Unnamed: 0.1  Unnamed: 0
22             22          22
62             62          62
159           159         159
76             76          76
15             15          15

First and second columns are the item number, both are the same. Second column will be removed and first one will be renamed to item number.

In [ ]:
#Remove first column
food_4 = food_4.drop(columns=['Unnamed: 0'])

In [ ]:
#Change name of first column to item number
food_4.rename(columns={'Unnamed: 0.1':'Item number'}, inplace=True)

In [ ]:
#Check for missing values
food_4.isnull().sum()

Item number             0
food                    0
Caloric Value           0
Fat                     0
Saturated Fats          0
Monounsaturated Fats    0
Polyunsaturated Fats    0
Carbohydrates           0
Sugars                  0
Protein                 0
Dietary Fiber           0
Cholesterol             0
Sodium                  0
Water                   0
Vitamin A               0
Vitamin B1              0
Vitamin B11             0
Vitamin B12             0
Vitamin B2              0
Vitamin B3              0
Vitamin B5              0
Vitamin B6              0
Vitamin C               0
Vitamin D               0
Vitamin E               0
Vitamin K               0
Calcium                 0
Copper                  0
Iron                    0
Magnesium               0
Manganese               0
Phosphorus              0
Potassium               0
Selenium                0
Zinc                    0
Nutrition Density       0
dtype: int64

None are missing, move on to next

In [13]:
#Check the food column to see if any food items are duplicated
duplicates = food_4['food'].duplicated()

# Check if there are any duplicates
if duplicates.any():
    print("There are duplicates in the 'food' column.")
else:
    print("No duplicates found in the 'food' column.")

No duplicates found in the 'food' column.

In [ ]:
#Find number of duplicated values and remove them if any are found
print(food_4.duplicated().sum())

0

None are duplicated, move on to next

In [ ]:
#Check for values to be correct any properly display
display(food_4.sample(5))

,Item number,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,Protein,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
95,95,orangensaft ja,86,0.0,0.000,17.800,17.800,1.4,0.024,0.0,...,0.0,0.000,0.000,0.00,0.000,0.0,0.0,0.000,0.000,1.400
222,222,nesfit diet cereal nestle,75,0.0,14.500,2.800,0.000,0.0,0.000,0.0,...,0.0,0.000,0.000,0.00,0.000,0.0,0.0,0.000,0.000,0.000
80,80,orange grapefruit juice,106,0.2,0.009,0.001,0.098,25.4,25.100,1.5,...,19.8,0.200,1.100,24.70,0.067,34.6,390.3,0.005,0.200,120.100
92,92,horchata,15,0.2,0.000,0.000,0.000,3.3,2.600,0.1,...,5.1,0.028,0.057,0.80,0.045,4.2,9.6,0.005,0.058,8.717
131,131,instant lemon tea,2,0.0,0.000,0.000,0.000,0.3,0.047,0.1,...,0.0,6.000,0.026,0.02,4.000,0.8,2.0,36.000,0.000,0.494

The following code will clean the "food_5" dataset

In [ ]:
#Print the information of the dataset
food_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0.1          722 non-null    int64
 1   Unnamed: 0            722 non-null    int64
 2   food                  722 non-null    object
 3   Caloric Value         722 non-null    int64
 4   Fat                   722 non-null    float64
 5   Saturated Fats        722 non-null    float64
 6   Monounsaturated Fats  722 non-null    float64
 7   Polyunsaturated Fats  722 non-null    float64
 8   Carbohydrates         722 non-null    float64
 9   Sugars                722 non-null    float64
 10  Protein               722 non-null    float64
 11  Dietary Fiber         722 non-null    float64
 12  Cholesterol           722 non-null    float64
 13  Sodium                722 non-null    float64
 14  Water                 722 non-null    float64
 15  Vitamin A             722 non-null    float64
 16  Vitamin B1            722 non-null    float64
 17  Vitamin B11           722 non-null    float64
 18  Vitamin B12           722 non-null    float64
 19  Vitamin B2            722 non-null    float64
 20  Vitamin B3            722 non-null    float64
 21  Vitamin B5            722 non-null    float64
 22  Vitamin B6            722 non-null    float64
 23  Vitamin C             722 non-null    float64
 24  Vitamin D             722 non-null    float64
 25  Vitamin E             722 non-null    float64
 26  Vitamin K             722 non-null    float64
 27  Calcium               722 non-null    float64
 28  Copper                722 non-null    float64
 29  Iron                  722 non-null    float64
 30  Magnesium             722 non-null    float64
 31  Manganese             722 non-null    float64
 32  Phosphorus            722 non-null    float64
 33  Potassium             722 non-null    float64
 34  Selenium              722 non-null    float64
 35  Zinc                  722 non-null    float64
 36  Nutrition Density     722 non-null    float64
dtypes: float64(33), int64(3), object(1)
memory usage: 208.8+ KB

In [ ]:
#Print 1st and 2nd columns head as they don't have actual names to check for information and confirm data types
display(food_5[['Unnamed: 0.1', 'Unnamed: 0']].sample(5))

     Unnamed: 0.1  Unnamed: 0
706           706         706
526           526         526
569           569         569
603           603         603
284           284         284

First and second columns are the item number, both are the same. Second column will be removed and first one will be renamed to Item Number.

In [ ]:
#Remove first column
food_5 = food_5.drop(columns=['Unnamed: 0'])

In [ ]:
#Change name of first column to item number
food_5.rename(columns={'Unnamed: 0.1':'Item number'}, inplace=True)

In [ ]:
#Check for missing values
food_5.isnull().sum()

Item number             0
food                    0
Caloric Value           0
Fat                     0
Saturated Fats          0
Monounsaturated Fats    0
Polyunsaturated Fats    0
Carbohydrates           0
Sugars                  0
Protein                 0
Dietary Fiber           0
Cholesterol             0
Sodium                  0
Water                   0
Vitamin A               0
Vitamin B1              0
Vitamin B11             0
Vitamin B12             0
Vitamin B2              0
Vitamin B3              0
Vitamin B5              0
Vitamin B6              0
Vitamin C               0
Vitamin D               0
Vitamin E               0
Vitamin K               0
Calcium                 0
Copper                  0
Iron                    0
Magnesium               0
Manganese               0
Phosphorus              0
Potassium               0
Selenium                0
Zinc                    0
Nutrition Density       0
dtype: int64

None are missing, move on next

In [14]:
#Check the food column to see if any food items are duplicated
duplicates = food_5['food'].duplicated()

# Check if there are any duplicates
if duplicates.any():
    print("There are duplicates in the 'food' column.")
else:
    print("No duplicates found in the 'food' column.")

No duplicates found in the 'food' column.

In [ ]:
#Find number of duplicated values and remove them if any are found
print(food_5.duplicated().sum())

0

None are duplicate, move on to next

In [ ]:
#Check for values to be correct and properly display
display(food_5.sample(5))

,Item number,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,Protein,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
614,614,hubbard squash cooked,57,0.700,0.100,0.042,0.300,12.3,5.6,2.8,...,0.029,19.000,0.095,0.5,24.7,0.2,26.6,406.600,0.053,21.554
538,538,beet greens raw,8,0.078,0.026,0.037,0.015,1.6,0.2,0.8,...,44.500,0.092,1.000,26.6,0.1,15.6,289.6,0.039,0.100,60.771
155,155,cheese bread,196,10.000,3.000,2.100,4.400,21.5,1.0,5.0,...,43.200,0.096,1.200,8.2,0.2,57.6,40.3,0.080,0.500,81.937
191,191,graham crackers,355,8.500,1.300,3.400,3.200,64.5,26.1,5.8,...,20.200,0.200,3.100,25.2,0.7,87.4,113.4,0.098,0.700,104.500
436,436,rutabaga cooked,72,0.400,0.007,0.037,0.200,16.4,9.5,2.2,...,43.200,0.052,0.400,24.0,0.2,98.4,518.4,0.022,0.300,112.000